/* Welcome Styles */
#welcomeImage{
    height: 100%;
    width: 100%;
}

.welcomeContainer{
    text-align: center;
    position: relative;
    top: 40%;
}

.welcomeContainer > p{
    font-size: 7em;
}

.welcomeContainer > form > button > a{
    color: white;
    text-decoration: none;
}

/* Body Styles */
body {
    font-family: 'Quicksand', sans-serif;
}

.banner{
    height: 150px;
    width: 100%;
	background-color: black;
	position: absolute;
	top: 0px;
}

.bannerHeader{
    position: absolute;
    top: 2.5%;
    color: white;
    margin-left: 5%;
    font-size: 5em;
}

.formContainer{
    text-align: center;
    margin-top: 10%;
}
