/* Welcome Styles */
#welcomeImage{
    height: 100%;
    width: 100%;
}

.welcomeContainer{
    text-align: center;
    position: relative;
    top: 40%;
}

.welcomeContainer > p{
    font-size: 7em;
}

.welcomeContainer > form > button > a{
    color: white;
    text-decoration: none;
}

/* Body Styles */
body {
    font-family: 'Quicksand', sans-serif;
}

.banner{
    height: 150px;
    width: 100%;
	background-color: black;
	position: absolute;
    top: 0px;
}

.bannerHeader{
    position: absolute;
    top: 15%;
    color: white;
    margin-left: 5%;
    font-size: 5em;
}

.formContainer{
    text-align: center;
    margin-top: 15%;
}

#eventInfoLogout{
    color: white;
}

#eventInfoLogout:hover{
    text-decoration: none;
    color: #007bff;
}

/* Menu Styles */

.menu{
    position: absolute;
    bottom: 0%;
    right: 5%;
}

.menu > li > a{
    color: white;
}

.menu > li > a:hover{
    color: #007bff;
}

.superAdminNavItem{
    visibility: hidden;
}